.text{
    font-size: 14px;
    font-weight: 700;
}
#token {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

#save{
    padding: 4px;
    display: block;
    background-color: green;
    color: white;
    margin: 10px auto 10px;
}